* {
  margin: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .content {
    display: flex;
  }

  .list-countries {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: fit-content;
    height: 90vh;
}

.border-countries {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.lang {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
