* {
  margin: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(10px + 2vmin);
  }
  
  .content {
    display: flex;
    font-size: calc(10px + 2vmin);
  }

  .list-countries {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: fit-content;
    font-size: calc(10px + 2vmin);
    height: 90vh;
}

.border-countries {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.lang {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  font-size: calc(10px + 2vmin);
}
